@if (!incidentsLoading() && processedIncidents().length > 0) {
  <div
    class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
  >
    <div class="flex flex-1 justify-between sm:hidden">
      <button
        [disabled]="currentPage() === 1"
        (click)="setPage(currentPage() - 1)"
        class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 disabled:opacity-50"
      >
        Anterior
      </button>
      <button
        [disabled]="currentPage() === totalPages()"
        (click)="setPage(currentPage() + 1)"
        class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 disabled:opacity-50"
      >
        Siguiente
      </button>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        Mostrando registros del
        <span class="font-medium">{{ paginationDetails().from }}</span>
        al
        <span class="font-medium">{{ paginationDetails().to }}</span>
        de
        <span class="font-medium">{{ paginationDetails().total }}</span>
        resultados
      </div>
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <button
            [disabled]="currentPage() === 1"
            (click)="setPage(currentPage() - 1)"
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 disabled:opacity-50 cursor-pointer"
          >
            <span>&laquo;</span>
          </button>

          @for (page of [].constructor(totalPages()); track $index) {
            <button
              (click)="setPage($index + 1)"
              [className]="
                currentPage() === $index + 1
                  ? 'relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20'
                  : 'relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 cursor-pointer'
              "
            >
              {{ $index + 1 }}
            </button>
          }

          <button
            [disabled]="currentPage() === totalPages()"
            (click)="setPage(currentPage() + 1)"
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 disabled:opacity-50 cursor-pointer"
          >
            <span>&raquo;</span>
          </button>
        </nav>
      </div>
    </div>
  </div>
}
