<div class="space-y-4">
  <!-- BARRA DE FILTROS SUPERIOR -->
  <div
    class="flex flex-col sm:flex-row gap-4 justify-between items-center bg-gray-50 p-4 rounded-lg border border-gray-200"
  >
    <app-incident-search
      data-testid="child-search"
      [searchTerm]="searchTerm()"
      (onUpdateSearch)="updateSearch($event)"
    />
    <app-incident-filter-status
      data-testid="child-status"
      [statusFilter]="statusFilter()"
      (onUpdateStatus)="updateStatus($event)"
    />
    <app-incident-filter-priority
      data-testid="child-priority"
      [priorityFilter]="priorityFilter()"
      (onUpdatePriority)="updatePriority($event)"
    />
  </div>

  <!-- CONTENEDOR DE LA TABLA -->
  <app-incident-table
    data-testid="child-table"
    [paginatedIncidents]="paginatedIncidents()"
    [incidentsLoading]="incidentsLoading()"
    [sortKey]="sortKey()"
    [sortDirection]="sortDirection()"
    (onSort)="changeSort($event)"
    (onViewDetails)="viewDetails($event)"
  />

  <!-- CONTROL DE PAGINACIÓN -->
  <app-incident-pagination
    data-testid="child-pagination"
    [incidentsLoading]="incidentsLoading()"
    [processedIncidents]="processedIncidents()"
    [currentPage]="currentPage()"
    (onSetPage)="setPage($event)"
    [paginationDetails]="paginationDetails()"
    [totalPages]="totalPages()"
  />
</div>
